<div class="d-sm-flex justify-content-between mb-4">
    <h3 class="text-dark mb-0">{{ "Noticias" | trans }}</h3>
  {% if (( user is not null) and (user.rank < 2) ) %}
    <a class="btn kaz-azul text-light btn-sm d-sm-inline-block mt-1" role="button" href="/newsCreator">
    <i class="fas fa-pencil fa-sm text-white-50" ></i> {{ "Añadir noticia" | trans }}
    </a>
    {% endif %}
</div>
<div class="row">
    {% for new in news %}
        <!-- solo se mostrarán noticias privadas si el usuario está registrado, siempre se mostrarán las públicas  -->
        {% if 1 == 1 %}
            <div class="col-md-6 col-xl-12 mb-4">
                <div class="card shadow border-left-primary py-2">
                    <div class="card-body">
                        <div class="row  no-gutters">
                            <div class="col mr-2">
                                <div class="text-uppercase text-secondary font-weight-bold text-xs mb-1">
                                    <h1>{{ new.title }}</h1></div>

                                <div class="text-dark font-weight-bold h5 mb-0"><span>{{ new.author }}</span></div>
                            </div>
                            <div class="col-md-12">
                                <p class="text-justify">{{ new.body }}</p>
                            </div>

                            <small class="text-right">
                                {{ new.date.format('d/m/Y') }}
                                {% if new.isPublic %}
                                    {% trans %}publica{% endtrans %}
                                {% else %}
                                    {% trans %}privada{% endtrans %}
                                {% endif %}
                            </small>
                        </div>
                    </div>
                    <!-- TODO: Si es un profesor o un administrador, mostrará la opción borrar noticia -->
                    {% if (( user is not null) and (user.rank < 2) ) %}
                        <button class="btn w-sm-25 ml-2 borrar" data-id="{{ new.id }}" type="sumbit" href="">{{ "Borrar Noticia" | trans }}</button>
                    {% endif %}
                </div>
            </div>

        {% else %}
            <p class="alert alert-warning container-fluid text-center">{{ "No hay resultados" | trans }}</p>
        {% endif %}
    {% endfor %}

</div>
