{% extends './partials/base.twig' %}

{% block body %}
<div class="container-fluid p-0 m-0">
    <div class="card m-0 p-0 shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">{{ "Club de Judo" | trans }}{% if title is defined %}  {{ title }}{% else%}Kazoku{% endif %} - {{ "Nombre del grupo (centro)" }}</p>
            <input id="cod" type="hidden" value="<?=$CodClase?>">
        </div>
        <div class="card-body">
            <div class="row">

                <div class="col-md-6">
                </div>
            </div>
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <!-- Si hay alumnos y si está en una hora de clase -->
                {% if 1 == 1 %}
                <table class="table dataTable my-0" id="tablaAlumnos">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{{"Nombre" | trans}}</th>
                        <th>Apellidos</th>
                        <th>Presente</th>
                    </tr>
                    </thead>
                    <tbody>

                    <!-- Foreach de alumnos-->
                    {% for i in 1..5  %}
                    <tr>
                        <td><img src="/img/profile/{% if user.userId is defined %}{{ userId }}{% else %}generic{% endif %}.png" width="30" height="30"></td>
                        <td>{{"Nombre"}}</td>
                        <td>{{ "Apellidos" }}</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox" id="{{ "codAlumno "}}" onClick="addToList(1);">
                                <span class="slider round"></span>
                            </label>
                        </td>
                    </tr>
                    {% endfor %}

                    </tbody>
                    <tfoot>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Presente</th>
                    </tr>
                    </tfoot>
                </table>

                <button class="btn btn-primary" onclick="sendList()">ENVIAR</button>

                {% else %}
                <p class="alert alert-warning">No hay resultados</p>
                {% endif %}
            </div>
            <!--<div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">>></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>-->
        </div>
    </div>
</div>
{% endblock %}
